<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name ="com.reqres.utilities.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.reqres.base.TestBase"/>
      <class name="com.reqres.testCases.TC01_Get_User"/>
      <class name="org.AppHooks.AppHooks"/>
      <class name="com.reqres.testCases.TC04_Update_User_Record"/>
      <class name="com.reqres.testCases.TC05_Delete_User_Record"/>
      <class name="com.reqres.testCases.TC03_Create_User"/>
      <class name="com.reqres.testCases.TC02_Get_Single_User"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
