<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="MyParam" value="tushar"/>
  <groups>
	  <run>
	  <include name="Smoke Testing"></include>
	  </run>
	  </groups>
    <classes>
    <class name="demo.parametrz"/>
      <class name="demo.Dataprovider"/>
     <class name="demo.helloclass"/>
     <class name="demo.Testng"/>
     <class name="demo.Importtopicgrouping"/>
     <class name="demo.Imptopic"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
